body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; /* Light background */
    color: #343a40; /* Dark text color */
    margin: 0;
}

.container {
    width: 100%;
    max-width: none;
    padding: 0 15px;
    margin: 0;
    box-sizing: border-box;
}

#search_input {
    margin-bottom: 20px;
}

.tree-item-container {
    padding: 5px 0;
}


.tree-category {
    padding: 10px;
    background-color: #ffffff; /* White background for categories */
    border-radius: 5px;
    border-color: #ffffff;
}

.tree-item {
    padding: 10px;
    background-color: #ffffff; /* White background for categories */
    border-color: #ffffff;
}

.item-name {
    font-weight: bold;
    font-size: 1.1em;
}

.toggle {
    cursor: pointer;
    margin-right: 5px;
}

.btn-outline-light {
    margin-right: 10px; /* Space between button and text */
}

/* Remove default bullets */
ul {
    list-style-type: none;
}


/* Hide the nested list */
.collapsed {
    display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
/* .active {
  display: block;
} */

/* Tag Cloud Styles */
.tag-cloud {
    margin-bottom: 20px;
}

.tag-cloud .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tag {
    display: inline-block;
    padding: 5px 10px;
    background-color: #e9ecef;
    color: #495057;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.tag:hover {
    background-color: #dee2e6;
}

.tag.active {
    background-color: #007bff;
    color: white;
}

/* Dark theme toggle styles */
.theme-toggle-container {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

/* Dark theme styles */
body.dark-theme {
    background-color: #222;
    color: #f5f5f5;
}

body.dark-theme .jumbotron {
    background-color: #333;
    color: #f5f5f5;
}

body.dark-theme .container input {
    background-color: #444;
    color: #f5f5f5;
    border-color: #555;
}

body.dark-theme .tag {
    background-color: #444;
    color: #f5f5f5;
}

body.dark-theme .tag:hover {
    background-color: #555;
}

body.dark-theme .tag.active {
    background-color: #007bff;
    color: white;
}

body.dark-theme .tree-category {
    background-color: #333;
    color: #f5f5f5;
}

body.dark-theme .tree-item {
    background-color: #333;
    color: #f5f5f5;
}

body.dark-theme a{
    color: #8cdbbf;
}

body.dark-theme a:hover{
    color: #8cdbbf;
}

body.dark-theme #theme-toggle {
    background-color: #444;
    color: #f5f5f5;
    border-color: #555;
}